<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semester List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
        body {
            background-image: url("{% static 'accounts/starry.jpg' %}");
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">List of Semesters</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <ul class="list-group">
                    {% for semester in semesters %}
                    <li class="list-group-item">
                        {{ semester.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div>
        <a href="{% url 'accounts:blank' %}" class="btn btn-secondary">Back to Blank</a>
    </div>

</body>
</html>
