{% extends 'qa/base_questions.html' %}
{% block extra_tabs %}
<a href="{% url 'qa:my_questions' %}">My Questions</a>
{% endblock %}
{% block title %}All Questions{% endblock %}

{% block title_bar_text %}All Questions{% endblock %}
{% block searchbar %}

{% endblock %}
{% block content %}
<ul class="list-group">
    {% for question in questions %}
    <li class="question-item">
        <a href="{% url 'qa:detailed_question' question.id %}">{{ question.question }}</a>
        <div class="question-meta">
            Asked by: {{ question.author }} | Status: {{ question.get_status_display }} |
            Votes: Up {{ question.up_votes }} | Down {{ question.down_votes }}
        </div>

        {% if question.tags.all %}
        <div class="tags">
            Tags:
            {% for tag in question.tags.all %}
            <span>{{ tag.tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    {% if questions.has_previous %}
    <a href="?page={{ questions.previous_page_number }}">Previous</a>
    {% else %}
    <span>Previous</span>
    {% endif %}

    <span>Page {{ questions.number }} of {{ questions.paginator.num_pages }}</span>

    {% if questions.has_next %}
    <a href="?page={{ questions.next_page_number }}">Next</a>
    {% else %}
    <span>Next</span>
    {% endif %}
</div>
{% endblock %}